<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iknow-utils.ZPM">
    <Module>
      <Name>iknow-utils</Name>
      <Version>0.1.0</Version>
      <Description>Suite of iKnow utils for common scenarios</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="iKnow.PKG"/>
    </Module>
  </Document>
</Export>
